services:
  zipkin-all-in-one:
    image: openzipkin/zipkin:latest
    restart: always
    ports:
      - "9411:9411"
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:9411/health"]
      interval: 5s
      timeout: 3s
      retries: 5

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./.docker/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:      
      - "13133:13133" # health_check extension
      - "4317:4317"   # OTLP gRPC receiver      
    restart: always
    depends_on:
      zipkin-all-in-one:
        condition: service_healthy

  serviceB:
    build:
      context: ./serviceB
      dockerfile: Dockerfile
    image: service-b:latest
    container_name: serviceB
    ports:
      - "8000:8000"
    environment:
      - WEATHERAPI_KEY=${WEATHERAPI_KEY:-abcf6848f7d2401192e01746252611}
      - WEB_SERVER_PORT=:8000
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-otel-collector:4317}
    depends_on:
      - otel-collector
    restart: always

  serviceA:
    build:
      context: ./serviceA
      dockerfile: Dockerfile
    image: service-a:latest
    container_name: serviceA
    ports:
      - "8080:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT:-otel-collector:4317}
      - SERVICE_B_URL=${SERVICE_B_URL:-http://serviceB:8000}
    depends_on:
      - serviceB
    restart: always

