receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318


exporters:
  debug:

  zipkin:
    endpoint: "http://zipkin-all-in-one:9411/api/v2/spans"

processors:
  batch:

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, zipkin]
    # metrics:
    #   receivers: [otlp]
    #   processors: [batch]
    #   exporters: [debug, otlp]